# autoconf products
/aclocal.m4
/autom4te*
/config.*
/configure
/install-sh

# build products
*.a
*.la
*.lo
*.log
*.o
*.pc
/tools/calendarclt
.deps/
.libs/
/depcomp
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in

# unit test suite products
# executables
/caltest/calarm
/caltest/caltest
/caltest/Caltest.html
/caltest/Caltest.info
/caltest/cattendee
/caltest/cbday
/caltest/ccalendar
/caltest/ccalendardb
/caltest/ccomponent
/caltest/ccomponentdetails
/caltest/cevent
/caltest/cicalconverter
/caltest/cjournal
/caltest/cmulticalendar
/caltest/corganizer
/caltest/cparameters
/caltest/cparticipant
/caltest/cproperties
/caltest/crecurrence
/caltest/crecurrencerule
/caltest/ctimezone
/caltest/ctodo
/caltest/cutility
/caltest/cvcalconverter
/caltest/dbprocs
# test products
/caltest/coverage/
/caltest/exportcal.ics
/caltest/exportical.ics
/caltest/x.ics
/caltest/*.xml
*.gcno

# Eclipse (and PTP)
/.ptp-sync/
.ptp-sync-folder
/.cproject
/.externalToolBuilders/
/.project
/.settings

# Doxygen products
/docs/doxygen-doc/
/docs/warning_log

# Debian packaging products
*.deb
*.debhelper
/debian/build*
/debian/calendar-backend
/debian/calendar-backend-dbg
/debian/calendar-backend-dev
/debian/calendar-backend-doc
/debian/files
/debian/stamp*
/debian/*.substvars
/debian/tmp

