*.deb
Makefile
Makefile.in
config.*
*.o
*.lo
*.a
*.la
.libs
stamp*
*/debian/tmp/*
*.tex
*.eps
*.log
DEBIAN/*
debian/calendar-backend-dbg
debian/calendar-backend-dev
debian/calendar-backend-doc
debian/calendar-backend
*.postinst.debhelper
*.debhelper
*.substvars
files
aclocal.m4
*.pc
depcomp
install-sh
libtool
ltmain.sh
missing
configure
compile
*.changes
Doxyfile
docs/doxygen-doc/
docs/warning_log
tools/calendarclt
*.tar.gz
*.dsc
*.kdev*
debian/build*
debian/tmp
autom4te*
.deps
*.gcno
.project
.cproject
.settings
caltest/calarm
caltest/caltest
caltest/cattendee
caltest/cbday
caltest/ccalendar
caltest/ccalendardb
caltest/ccomponent
caltest/ccomponentdetails
caltest/cevent
caltest/cicalconverter
caltest/cjournal
caltest/cmulticalendar
caltest/corganizer
caltest/cparameters
caltest/cparticipant
caltest/cproperties
caltest/crecurrence
caltest/crecurrencerule
caltest/ctimezone
caltest/ctodo
caltest/cutility
caltest/cvcalconverter
caltest/dbprocs
.ptp-sync/
caltest/.ptp-sync-folder
debian/.ptp-sync-folder
docs/.ptp-sync-folder
include/.ptp-sync-folder
src/.ptp-sync-folder
tools/.ptp-sync-folder
.externalToolBuilders/
caltest/Caltest.html
caltest/Caltest.info
caltest/exportcal.ics
caltest/exportical.ics
caltest/x.ics
caltest/*.xml
