*.deb
Makefile
Makefile.in
config.*
*.o
*.lo
*.a
*.la
.libs
stamp*
*/debian/tmp/*
*.tex
*.eps
*.log
DEBIAN/*
debian/calendar-backend-dbg
debian/calendar-backend-dev
debian/calendar-backend-doc
debian/calendar-backend
*.postinst.debhelper
*.debhelper
*.substvars
files
aclocal.m4
*.pc
depcomp
install-sh
libtool
ltmain.sh
missing
configure
compile
*.changes
Doxyfile
docs/doxygen-doc/
docs/warning_log
tools/calendarclt
*.tar.gz
*.dsc
*.kdev*
debian/build*
debian/tmp
autom4te*
